@font-face {
  font-family: 'Evolventa';
  src: url('./assets/fonts/Evolventa/Evolventa-Regular.woff') format('woff'),
  url('./assets/fonts/Evolventa/Evolventa-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
  }